@import "header.css";

/* CERAMIC SECTION */
section .image-container {
  overflow: auto;
  display: inline;
  white-space: nowrap;
}

section .image-container .image-slide {
  width: 19080px;
  margin-left: 9vw;
  margin-top: 2vh;
}

section .image-container img {
  vertical-align: bottom;
  margin-right: 1.7vw;
}

@media screen and (max-width: 769px) {
  /* CERAMIC SECTION */
  section .image-container {
    display: flex;
  }

  section .image-container .image-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  section .image-container .image-slide img {
    width: 70%;
    height: auto;
  }
}
